@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
   display: flex;
   justify-content: center;
   font-family: 'Indie Flower', cursive;
   font-size: large;
    
   .header {
    display: flex;
    background-color: aquamarine;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 8px 7px 10px lightgrey;
    padding: 10px;
    margin: 15px;
    }

    .input {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        border: 2px;
        border-style: solid;
        border-color: black;
        border-radius: 5px;
        margin: 15px;

        .enter {
            background-color: purple;
            display: flex;
            justify-content: center;
            text-decoration-color: white;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        border-style: solid;
        
        .groceryBag {
           
        }

    }

}